@model IEnumerable<int>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Result</title>
</head>
<body>
    <ul>
        @{ 
            foreach (int item in Model)
            {
                @: <li> @item</li>
            }
        }
    </ul>
</body>
</html>
