@model string

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sorsolas</title>
</head>
<body>
    <h3>A vizsgáztatód: @Model</h3>
</body>
</html>
