
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Szamolo</title>
</head>
<body>
    <form method="post" action="/Home/Szamolo">
        Minimum: <input type="text" name="min" />
        <br />
        Lépésköz: <input type="text" name="step" />
        <br />
        Maximum: <input type="text" name="max" />
        <br />
        <input type="submit" value="OK!" />
    </form>
</body>
</html>
